body {
	margin: 0;
	padding: 0;
}

header div {
	border-bottom: 1px dashed #CCCCCC;
}

header h1:before {
	content: "./ ";
	font-size: 60px;
}

.thumbBg {
	background: url(../images/grid-18px-masked.png) repeat;
	height: 100px;
}

.thumbBg img {
	padding: 20px;
}

.thumbBg .summary {
	padding: 20px;
}

.thumbBg:hover {
	background-color: whiteSmoke;
}

.no-border-radius {
	border-radius: 0px;
}

.no-background-color {
	background: none;
}

footer {
	border-top: 1px dashed #CCCCCC;
}